# TRỰC QUAN HÓA DỮ LIỆU
## LAB2: TRỰC QUAN HÓA DỮ LIỆU VỚI TABLEAU
## THÀNH VIÊN NHÓM
1. 19120545 - Lê Ngọc Khoa.
2. 19120559 - Hà Duy Lãm.
3. 19120677 - Nguyễn Diệp Minh Tiến.

### THÊM THƯ VIỆN

In [19]:
import requests
import pandas as pd   
import seaborn as sns
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import lxml.html as lh
import seaborn as sns

### Lấy dữ liệu ngày 24/5/2022 để trực quan

In [20]:
dataset = pd.read_csv('CoronaData_Country_20220524_Daxuli.csv')
dataset

,Unnamed: 0,Unnamed: 0.1,Ranking,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recoverd,New Recoverd,Active Cases,Serious Cases
0,8,8,1,USA,85113962,53287,1029121,106,81701524,69377,2383317,2278
1,9,9,2,India,43139499,1106,524459,0,42599102,0,15938,698
2,10,10,3,Brazil,30803995,12775,665727,47,29851917,19898,286351,8318
3,11,11,4,France,29359336,4386,147917,82,28609930,66962,601489,1173
4,12,12,5,Germany,26103628,18011,138738,26,24708600,106100,1256290,944
...,...,...,...,...,...,...,...,...,...,...,...,...
224,232,232,225,Niue,9,0,0,0,9,0,0,0
225,233,233,226,Nauru,8,0,0,0,8,3,0,0
226,234,234,227,Micronesia,7,0,0,0,1,0,6,0
227,235,235,228,Saint Helena,2,0,0,0,2,0,0,0
228,236,236,229,China,223332,187,5223,1,213834,316,4275,193

### Ordinary Least Squares - OLS

In [21]:
from pandas import DataFrame
import statsmodels.api as sm

df = DataFrame(dataset,columns=['New Cases','Total Deaths','New Deaths','Total Recoverd','Active Cases','Serious Cases']) 
X = df[['New Cases','Active Cases']]
Y = df['Serious Cases']
X = sm.add_constant(X)
model = sm.OLS(Y, X).fit()
predictions = model.predict(X) 

print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:          Serious Cases   R-squared:                       0.094
Model:                            OLS   Adj. R-squared:                  0.086
Method:                 Least Squares   F-statistic:                     11.67
Date:                Sat, 28 May 2022   Prob (F-statistic):           1.51e-05
Time:                        11:50:20   Log-Likelihood:                -1818.0
No. Observations:                 229   AIC:                             3642.
Df Residuals:                     226   BIC:                             3652.
Df Model:                           2
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const          107.0680     46.868      2.284      0.023      14.714     199.422
New Cases       -0.0033      0.004     -0.823      0.411      -0.011       0.005
Active Cases     0.0010      0.000      4.570      0.000       0.001       0.001
==============================================================================
Omnibus:                      384.058   Durbin-Watson:                   1.791
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            77713.907
Skew:                           8.594   Prob(JB):                         0.00
Kurtosis:                      91.596   Cond. No.                     2.53e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.53e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

C:\Users\ASUS\anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

### PCA

In [22]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df = DataFrame(dataset,columns=['New Cases','Total Deaths','New Deaths','Total Recoverd','Active Cases','Serious Cases']) 
scaler.fit(df)
scaled_data = scaler.transform(df)
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
pca.fit(scaled_data)
x_pca = pca.transform(scaled_data)
print(scaled_data.shape)
print(x_pca.shape)

(229, 6)
(229, 2)

### Linear regression

In [23]:
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline
X = dataset['Active Cases'].values.reshape(-1,1)
y = dataset['Serious Cases'].values.reshape(-1,1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
regressor = LinearRegression()  
regressor.fit(X_train, y_train) 
print(regressor.intercept_)
print(regressor.coef_)
y_pred = regressor.predict(X_test)
df = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})
df

[112.99859279]
[[0.00096412]]

    Actual   Predicted
0        6  116.422199
1        0  112.998593
2        0  113.003413
3        4  123.364859
4        0  112.998593
5        0  114.017672
6        0  113.154781
7       73  119.295290
8        0  112.998593
9        0  116.388454
10       6  113.931865
11       0  112.998593
12       0  112.998593
13     291  916.159599
14       0  113.014983
15       0  113.987785
16       2  113.212628
17     188  329.369337
18      30  116.183096
19       7  112.998593
20       0  112.998593
21      13  113.075723
22       0  113.054512
23       4  113.048727
24       0  112.998593
25       7  119.293362
26       0  112.998593
27     101  112.998593
28     300  261.445803
29       0  113.026552
30       4  113.175028
31       7  112.998593
32      23  113.604063
33      41  192.293011
34       0  114.999151
35    2771  115.784913
36     649  164.330508
37       5  113.020768
38     229  623.581564
39       0  113.286866
40       4  113.032337
41      10  120.804145
42      23  113.096933
43       0  116.697938
44       1  113.693727
45       0  115.264285